@{
    ViewData["Title"] = "Přihláška na SŠ";
}

<div class="text-center">
    <h1 class="display-4">Přihláška na Střední Školu</h1>
    <button class="btn btn-primary"><a href="@Url.Action("FormPage","Home")" style="color:black">Vyplnit přihlášku</a></button>
</div>
